.SearchBar-ModalC{
  width: 100%;
  height: 100vh;
  /* overflow-y: auto; */
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1; 
  /* transform: translateY(0%); */
  transition: transform .50s ease-in-out,opacity .50s ease-in-out,visibility .50s ease-in-out;
}

.searchBar>::placeholder {
    color: #2c2c3d;
}

.searchBar input{
    width: 60%;
    border: none;
    background: none;
    border-radius: 0%;
    color: #2c2c3d;
    margin:0 20%;
    margin-top: 1rem;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 14px;



    /* position: fixed;
    left: 3;
    z-index: 50; */

}

.searchBar input:hover{
    outline: 0;
}
.searchBar form input{
border: none;
outline: none;
border-bottom: solid 1px #afadad;


}

.searchBar i{
    /* float: right; */
    z-index: -1;
}
.Modal{
    /* background: rgba(0, 0, 0, 0.8); */
    background: #fafafa;
    transition: all 1s ease;
    opacity: 1;
}

.Modal{

    margin-bottom: 5rem;
    padding: 0 40px;
    padding-bottom: 5rem;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    display: block;
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1; 
    margin-top: 140.48px;
    /* transform: translateY(140.48px); */
    transition: transform .50s ease-in-out,opacity .50s ease-in-out,visibility .50s ease-in-out;
}

.Modal::-webkit-scrollbar{
    height: 0;
}

.ModalC-close{
  visibility: hidden;
  opacity: 0; 
}

.Modal-close{
  visibility: hidden;
  opacity: 0; 
  transform: translateY(-100%);
}


.Modal[aria-hidden=false]{
  visibility: hidden;
  opacity: 0; 
  transform: translateY(-100%);
}


.SearchBar-ModalC[aria-hidden=false]{
  visibility: hidden;
  opacity: 0; 
}


.ClearIcon{
    float: right;
    color: #2c2c3d;
}

.total-search{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #afadad;
  margin-bottom: 24px;
  padding-bottom: 20px;
  position: relative;
  visibility: visible;
  opacity: 1; 
  transition: all 8s ease;

}

.total-search__resultados,
.total-search__ver-todos{
  display: inline-block;
  /* margin: auto; */
  font-weight: 800;
}

.total-search__resultados{
  position: absolute;
  top: 0;
  left: 0;
  color: #aca8a8;
}

.total-search__ver-todos{
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #2c2c3d;
  float: right;
  cursor: pointer;
}

.total-search__ver-todos:hover{
  color: #aca8a8;
}

.containerElement{
    margin-top: 20px;
    margin-bottom: 5rem;
    background: transparent;
    transition: all 1s ease;
    opacity: 1;
    /* width: 80%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    visibility: visible;
    opacity: 1; 
    transform: translateY(0);
    transition: all 8s ease;



}




/* .containerElement::-webkit-scrollbar{
    height: 0;
} */

.product-card-body-search{
    /* padding: 1rem; */
    /* border-top: solid 1px gray; */
    font-size: 14px;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms ease;
    /* color: #808080; */
    color: salmon;



  
  }

  .product-card-body-search p{
    font-size: 12px;
    font-weight: 800;
  }



.product-card-search{
 position: relative;

  margin: 6px;
  /* margin-bottom: 4rem; */
  padding: 15px;
  /* margin-left: 150px; */
  width: calc(230px - 12px);
  border-radius: none;
  /* border: solid 1.9px #c5c3c3; */
  border: none;
  list-style: none;
  -webkit-transform: scale(1,1);
  -webkit-transform-timing-function: ease-out ;
  -webkit-transition-duration: 300ms ;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out ;
  -moz-transition-duration: 300ms;
  /* position: relative; */
  }

.product-card-search:hover .product-image-search{
  border: solid 1.9px #aca8a8;
  
}






.product-card-search:hover .product-card-body-search{
 
  opacity: 1;
  visibility: visible;
  margin-left: 3rem;
  /* position: absolute;
  bottom: 0;
  left: 10; */

}
.product-image-search{
    /* width: 5rem; */
    /* height: 5rem; */
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    background: #ffffff;
    /* border: solid 1.9px #c5c3c3; */


    
}
.product-image-search img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  padding: 10px;
  padding-bottom: 20px;
}


.smallP-search{
    max-width: 5rem;
    width: 100%;
  }
.imgnormalP-search{
    width: 15rem;
    height: 15rem;
    }

.product-card__info-search{
    text-align: center;
    /* margin-bottom: 10px; */
    /* border: solid 1.9px #c5c3c3; */
     /* text-overflow: ellipsis; */
    /* overflow-x: auto; */
    /* white-space: nowrap; */
    display: inline-block;
    max-width: 100%; 
    /* max-height: 25%; */
    font-weight: bold;
    line-height: 19px;
    /* height: 42px; */
    margin: 0 10px;
    }
    .product-card__info-search::-webkit-scrollbar{
      width: 0;
        
    }
    /* .product-card__info:hover{
    
    } */
    .product-card__info-search a{
      margin: 0 auto;
      padding: auto;
      font-size: 12px;
    
    /* margin-bottom: 20px; */
    
    /* line-height: 19px; */
    text-align: left;
    /* font-weight: bold; */
    color: #2c2c3d;
    
    
    }
    
    
    .product-card__info-search p{
      padding: auto;
    }

    /* .elementSearch-p p{
      color: #aca8a8;
    } */


.img-search{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}



/* .element{
    border:1px solid rgb(223, 218, 218);
}

.element:hover{
    background-color:  rgb(246, 241, 241);
} */






.elementSearch-p h3{
    text-align: start !important;
    padding: 3px;
    font-size: 13px;
}


@media screen and (max-width:768px){
  .Modal{
    margin-top: 80px;


  }
}