.payPalBotton{
    z-index: -1;
}

.orderScreen-container{
    padding-top: 3%;
}


.Modal-compraExitosa-container{
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background: rgba(0, 0, 0, 0.5);

    
}


.ModalCExitosa-Container-Close{
    opacity: 0;
    visibility: hidden;
    transition:all 1s ease ;
}

.Modal-compraExitosa{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 600px;
    height: 300px;
    opacity: 1;
    visibility: visible;
    margin: auto;
    background: #ffff;
    text-align: center;
    border-radius: 10px;
    transform: scale(1);
    transition: all 1s ease;



    

}

.Modal-compraExitosa__frase {

    margin: auto;
    margin-top: 4rem;
    font-size: 16px;
}




.Modal-compraExitosa__ClearIcon{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border: none;
    background: none;
}

.ModalCExitosa-Close{
    opacity: 0;
    visibility: hidden;
    transform: scale(-1);
    transition:all 1s ease ;

}

.envioINfo{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.envioINfo h3{
margin: auto;
text-align: start;

}
.envioINfo p{
display: inline-block;
margin: auto;
text-align: start;

}



@media screen and (max-width:640px){
    .orderScreen-container  h4{
        font-size: 14px;
    }
    .orderScreen-container  div{
        font-size: 14px;

    }
    .orderScreen-container{

        padding-top: 17%;
    }

}

@media screen and (min-width:640px) and (max-width:768px){
    .orderScreen-container{


        padding-top: 17%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){

    .orderScreen-container p{
        font-size: 16px;
    }
    .orderScreen-container{
        padding-top: 17%;
    }
}
@media screen and (min-width:1024px) and (max-width: 1336px){
    .orderScreen-container{
        padding-top: 13%;
    }
}