.PaymethodContainer{
height: 100vh;
}

/* Form */
.form {
    max-width: 60rem;
    margin: 0 auto;
  }
  .form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .form label {
    margin: 1rem ;
  }

  .form button{
    margin: auto;
  }

  .cheked{

  }

  .img-paymethod{
    width: 100px;
    height: 50px;
    margin-left:1rem;
  }

