
.productListContainer{
  margin-top: 4rem;
  padding-bottom: 10%;
}

.productoList-en-oferta{
  background: red;
  color: #ffffff;
  display: inline-block;
  /* width: 40%; */
  /* height: 13%; */
  padding: 4px;
  text-align: center;
  margin: auto;


  
}

.productoList-en-oferta p{
  color: #ffffff;
  font-size: 10px;
  font-weight: 800;
  padding: auto;

}

.productoList-en-oferta_precio .p1{
  text-decoration: line-through;
  color: salmon;

}
.productoList-en-oferta_precio .p2{
  color: rgb(114, 250, 137);

}


@media screen and (max-width:480px){


}