
.container-productScreen{
padding-top: 3rem;
  padding-bottom: 9rem;
}

.block-sidebar{

}


.float-right {
    float: right !important;
}

.productScreen-card a p {
    color: #555;
    padding: 0.5rem;

}

.productScreen-image{
    padding: 0.5rem;
    /* margin-top: 3rem; */
}
.info{
  margin-top: 3rem;

}

.productScreens-row{
    /* display: flex; 
    flex-wrap: wrap;
    flex-direction: row; */
    align-items: center;
    /* height: 100%; */
  }


.productScreen-row.center{
  justify-content: center;

}

.row.top{
    align-items: flex-start;
  }



.productScreen-card{
    background-color:  #f8f8f8;
    border-radius: 0rem;
    /* width: 15rem; */
    /* margin: 2rem 1rem; */
    font-size: 0.9rem;
    /* height: 100vh; */
    margin-top: 2rem;

  }

.productScreens-list-item{

}



  .productScreen-card-body{
      width: 513px;
      margin: 0 2rem;

   
  
  }

  .productScreen-card-body button{
    width: 50%;
  }


  .shadow-box-productos{
  
    /* color: rgba(0, 0, 0, 0.87); */
    box-shadow: 0px 3px 8px -2px rgb(0 0 0 / 6%), 0px 1px 2px 0px rgb(0 0 0 / 4%), 0px 1px 3px 0px rgb(0 0 0 / 2%);
    /* background-color: #e0e0e0; */
  }






  img.small{
    max-width: 5rem;
    width: 100%;
  }
img.imgnormal{
    /* max-width: 10rem; */
    width: 10rem;
    height: 10rem;
}
.productScreen-image{
    width: 513px; 
    height: 513px;
    /* width: 100%; */
    border: solid #ebe7e7 2px;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    margin: 2rem;
   

    
}

.productScreen-image img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
}


ul, li{
  list-style-type: none; 
}

.productScreen-image a img {
    width: 70%;
    height: 70%;
    margin-top: 10%;

}


.productScreen-card {
    position: relative;
    padding: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    background: #fff;
    justify-content: center;
}


.productScreen-card__row{
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}
.productScreen-card__row select{
  margin-left: 20px;
}

.info-ps{
  color: #a5a1a1;
}

/* ._id{
  margin-top: 1rem;
} */

.info{
  border-bottom: #dad5d5 solid 0.1rem;
  /* text-align: center; */
  padding: 1rem 0;
  width: 100%;
  text-align: justify;

}

.info h1 {
font-size: 28px;
font-weight: 700;
line-height: 1.2;
text-align: left !important;

}
.codigo{
  padding: 1rem 0rem;
}
.codigo,  .precio {
  color: #555;
  font-size: 1rem;
}
.precio{
  font-size: 1rem;
}

/* carrusel */
/* productos relacionados */

.continerPR{
  background-color: white;
  /* border: solid rgb(206, 200, 200) 1px; */
  /* height: 50vh; */
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10rem;
  position: relative;
}

.continerPR__title{
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  overflow-y: hidden;

}

.continerPR__title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.continerPR__title__divider {
  -webkit-box-flex: 1;
  /* -ms-flex-positive: 1; */
  flex-grow: 1;
  height: 2px;
  background: #ebebeb;
}

.continerPR__carousel{
  overflow-x: auto;

}

.continerPR__carousel::-webkit-scrollbar{
  width: 0;
}

.continerPR__centralPR{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin-left: -259.78px;
  /* overflow-x: auto; */
}


.continerPR__centralPR::-webkit-scrollbar{
  width: 0;
}


.continerPR__productos-relacionados{
  margin: 10px;
  padding: 15px;
  /* margin-left: 150px; */
  /* width: 50%; */
  /* height: 270px; */
  border-radius: none;
  border: solid 1.9px #ebebeb;
  list-style: none;
  -webkit-transform: scale(1,1);
  -webkit-transform-timing-function: ease-out ;
  -webkit-transition-duration: 300ms ;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out ;
  -moz-transition-duration: 300ms;
}



.continerPR__productos-relacionados:hover{
  border: solid 1.9px #c9c6c6;
  -webkit-transform: scale(1.02,1.02);
  -webkit-transform-timing-function: ease-out ;
  -webkit-transition-duration: 200ms ;
  -moz-transform: scale(1.02,1.02);
  -moz-transition-timing-function: ease-out ;
  -moz-transition-duration: 200ms;
}

.continerPR__productos-relacionados__img {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.continerPR__productos-relacionados__img img{
  /* max-width: 10rem; */
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
}



.continerPR__details {
  display: flex;
  width: 150px;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 10px; */
  /* width: ; */
  
}
.continerPR__details p{
font-size: 13px;
line-height: 19px;
/* font-weight: bold; */
color: #555;
text-align: start;
margin-top: 10px;
}

.hi-prev-PR, .hi-next-PR {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
  color: black;
  transition: all 0.7s ease;
  margin: auto 4px;
  
}

.continerPR:hover .hi-prev-PR{
  opacity: 1;
}

.continerPR:hover .hi-next-PR {
  opacity: 1;
}
  

.hi-prev-PR:hover, 
.hi-next-PR:hover {
opacity: 1;
background: black;
color: #ffffff;
}

.hi-prev-PR{
  left: 1px;
z-index: 40;
}


.hi-next-PR{
  right: 1px;
z-index: 40;

}



.social-PS{
  position: relative;
  /* text-align: center;  */
 margin: 3rem auto;
 float: right;

}

.social-PS p{
  margin-bottom: 1rem;
}

.social-PS a{
width: 40px;
height: 40px;
display: inline-block;
margin-right: 10px;
}

.social-PS i:hover{
  color: grey;
}

.social-PS a i{
  color: rgb(83, 81, 81);
  padding: 0px 12px;
  font-size: 18px;
  /* margin-right: 50rem; */
  margin-top: 20px;
}



@media (max-width: 380px) {

  .productScreen-card{
    margin-left: 10px;  
    margin-right: 10px;
  }


.productScreen-image{
margin-left: 10px;  
margin-right: 10px;
}

.productScreen-image{
  width: 213px; 
  height: 213px;

   
}


.info h1{
  font-size: 16px;
}

._id *{
  font-size: 14px !important;
}

.continerPR__title{
  font-size: 16px;
}

.productScreen-card-body button{
  width: 100%;
}



}


@media (min-width: 381px) and (max-width: 640px) {
  
  .productScreen-card{
    margin-left: 10px;  
    margin-right: 10px;
  }



.productScreen-image{
margin-left: 10px;  
margin-right: 10px;
}

.productScreen-image{
  width: 313px; 
  height: 313px;

   
}

.info h1{
  font-size: 20px;
}

._id *{
  font-size: 16px !important;
}

.continerPR__title{
  font-size: 20px;
}



}


