/* Checkout Steps */
.checkout-steps > div {
    margin-top: 3rem;
    border-top: 0.4rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
  }
  .checkout-steps > div.active {
    border-top-color: #2c2c3dec;
    color: #2c2c3dec;
  }

 