.categoriasDrawerUp{
    margin-left: 2rem;
    max-height: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: all 400ms ease;



}

.categoriasDrawerUp li a{
color: #808080;
font-size: 17px;
font-weight: 500;
transition: all 400ms ease;
}

.listas li{
    color: rgb(78, 76, 76);
    font-size: 1.2rem;
    font-weight: 500;
 

}




.categoriasDrawerDrop li a{
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    transform: translateX(0%);
    transition: all 1s;
    opacity: 1;
    visibility: visible;

}

.categoriasDrawerDrop ul{
    margin: 0 2rem;

}

.mobile-item{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    color: #787878;
    cursor: pointer;
    transform: rotatez(180deg);
    transition: transform .50s ease-in-out,opacity .50s ease-in-out,visibility .50s ease-in-out;


    /* padding-left: 2rem; */
}

.mobile-item:hover{
    opacity: 0.8;
}


.ArrowDropDownIcon{
    transform: rotatez(0deg);
    transition: all .50s ease;
}


@media screen and (min-width:768px) and (max-width:1024px){

    .listas{
display: none;    }
}