.categoriasDrawerUp{
    margin-left: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: all 400ms ease;

}

.categoriasDrawerUp li a{
color: #808080;
font-size: 17px;
font-weight: 500;
transition: all 400ms ease;
}

.listas li{
    color: rgb(78, 76, 76);
    font-size: 1.2rem;
    font-weight: 500;
 

}




.categoriasDrawerDrop li a{
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    transition: all 300ms;
    opacity: 1;
    visibility: visible;

}

.categoriasDrawerDrop ul{
    margin: 0 2rem;

}

.mobile-item{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    color: #787878;
    cursor: pointer;
    /* padding-left: 2rem; */
}

.mobile-item:hover{
    opacity: 0.8;
}

#icon-drop{
    display: none;
}

#icon-drop:checked ~ .categoriasDrawerDrop {
    /* display: block;
    opacity: 1;
    visibility: visible; */
    max-height: 100%;


}


/* #icon-drop:checked ~ .categoriasDrawerUp {
    margin: 0 2rem;

} */


@media screen and (min-width:768px) and (max-width:1024px){

    .listas{
display: none;    }
}