
.container-marcas{
    /* background-color: #f5f7fc; */
    background-image:  url(https://res.cloudinary.com/casaforte/image/upload/v1622648392/fondos/ferreteria3_fhxx2x.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    display: flex;
}

/* .container-marcas::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;


    background: rgba(0, 0, 0, 0.5);

    
} */

.marca{
    /* margin: 1rem; */
    /* margin-left: 150px; */
    /* width: 30%; */
    border-radius: none;
    background: white;
    /* margin-top: 30px; */
    list-style: none;
    -webkit-transform: scale(1,1);
    -webkit-transform-timing-function: ease-out ;
    -webkit-transition-duration: 300ms ;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out ;
    -moz-transition-duration: 300ms;
}

.marca:hover{
    -webkit-transform: scale(1.02,1.02);
    -webkit-transform-timing-function: ease-out ;
    -webkit-transition-duration: 200ms ;
    -moz-transform: scale(1.02,1.02);
    -moz-transition-timing-function: ease-out ;
    -moz-transition-duration: 200ms;
}

.row-marcas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: wrap; */
    /* justify-content: space-around; */
    margin: 5rem 0.0rem;
    margin-left: 5rem;
    text-align: center;
    width: 100vw;
    


}
.row-marcas a{
    margin: 0;
    padding: 0;
}

img.imgnormalMarca{
    /* max-width: 10rem; */
    width: 17rem;
    height: 17rem;
    
}
img{
    width: 100%;
}

.marcas-list-item{
    /* display: flex; */
    /* width: 17rem;
    height: 25rem; */
    margin: 5rem 5rem;
}

.card-marcas{
    border: 0.1rem #c0c0c0 solid;
    /* border-radius: 1rem; */
   
}

.con{
    background-color: #011c39;
    height: 50vh;
    width: 100vw;
    display: flex;
}

@media screen and (max-width:480px){

}