.modalSearch{
   margin: 10%;
   margin-top: 9rem;

}

.ClearIcon{
    float: right;
    color: white;
}

.containerElement{
width: 60%;
margin: auto;
}

.containerElement{
    background: white;
}


.searchBar input{
    width: 60%;
    /* display: none; */
    background: none;
    border: none;
    border-radius: 0%;
    border-bottom: gray 0.1rem solid;
    color: white;
    outline: none;
    text-decoration: none;
    list-style:none;
    margin:0 20%;
    margin-top: 4rem;
    /* position: fixed;
    left: 3;
    z-index: 50; */

}

.searchBar i{
    /* float: right; */
    z-index: -1;
}





/* [ placeholder="Search..." ]{
    color: white;
  list-style:none;

  

} */

.searchBar>::placeholder {
    color: white;
}

.elementSearch{
    display: flex;
    flex-direction: row;
    /* margin-top: 2rem; */
    /* justify-content: flex-start; */
    /* margin-left: 1.5rem; */
}
/* .elementSearch:hover{
    background-color: rgb(16, 16, 17);
    transition: 0.6ms;
} */

.elementSearch div{
    /* margin: auto; */
    /* margin-left: 2rem; */
    /* justify-content: center; */
    font-size: 1rem;
    color: black;

}

.info-element{
   margin: auto;
   margin-left: 0px;
}

.elementSearch a{
    text-decoration: none;
    /* list-style: none; */
    border:3px solid grey !important;
    text-align: start !important;
}

.elementSearch div{
justify-content: left;

}

.img-search{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.Modal{
    background: rgba(0, 0, 0, 0.8);
}

.Modal{
    overflow-y: scroll;
}

.element{
    border:1px solid rgb(223, 218, 218);

}

.element:hover{
    background-color:  rgb(246, 241, 241);
}





.elementSearch-p h3{
    text-align: start !important;
    padding: 3px;
}


@media screen and (max-width:440px){
    .containerElement{
        width: 100%;
        height: 30%;
        margin: auto;
        }

        .img-search{
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;

            width: 2rem;
            height: 4rem;
        
        }

        .info-element{

            margin: auto;
            margin-left: 0px;

        }

        .info-element h3{
            font-size: 6px;

        }

.searchBar input{
    width: 100%;
    margin: 0 0;

}

.elementSearch-p h3{
font-size: 16px;
}
}

@media screen and (max-width:840px){
    .containerElement{
        width: 80%;
        height: 30%;
        margin: auto;
        }

        .img-search{
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;

            /* width: 2rem;
            height: 4rem; */
        
        }



        .info-element h3{
            font-size: 15px;

        }

.searchBar input{
    width: 100%;
    margin: 0 0;

}
}