.productos-container{
  justify-content: center;
  padding-top: 1rem;
  /* position: relative; */
}


.shop-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
}

.shop-layout__sidebar{
  width: 18rem;
  /* height: 100rem; */
  margin-right: 1rem;
}

.container-product{
   
}

.block-sidebar{

}


.float-right {
    float: right!important;
}

/* .product-card a p {
    color: black;
    padding: 0.5rem;

} */




.product-image{
    padding: 0.5rem;
}

.products-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 800px;
  }

.products-row.center{
  /* justify-content: center; */

}

.row.top{
    align-items: flex-start;
  }




  .product-card-body{
    /* padding: 1rem; */
    /* border-top: solid 1px gray; */
    font-size: 16px;
    margin:auto;
    text-align: center;
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transform: translateX(-50%); */
    transition: all 1000ms ease;
    /* color: #808080; */
    color: rgb(29, 230, 63);



  
  }

  .product-card-body p{
    font-size: 16px;
    font-weight: 800;
  }



.product-card{
 position: relative;

  margin: 6px;
  /* margin-bottom: 4rem; */
  padding: 15px;
  /* margin-left: 150px; */
  width: calc(230px - 12px);
  border-radius: none;
  /* border: solid 1.9px #c5c3c3; */
  border: none;
  list-style: none;
  -webkit-transform: scale(1,1);
  -webkit-transform-timing-function: ease-out ;
  -webkit-transition-duration: 300ms ;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out ;
  -moz-transition-duration: 300ms;
  /* position: relative; */
  }

.product-card:hover .product-image{
  border: solid 1.9px #aca8a8;
  
}



/* .product-card:hover img{
  -webkit-transform: scale(1.02,1.02);
  -webkit-transform-timing-function: ease-out ;
  -webkit-transition-duration: 200ms ;
  -moz-transform: scale(1.02,1.02);
  -moz-transition-timing-function: ease-out ;
  -moz-transition-duration: 200ms;
} */



/* .product-card:hover .product-card-body{
 
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: all 1000ms ease;
  /* position: absolute;
  bottom: 0;
  left: 10; 

} */

/* .product-card:hover .product-card-body{
  display: inline-block;
  color: #555;

  animation: bounce1  1s  ;


}



@keyframes bounce1{

  0%{
    transition: all .80s ;
    color: rgb(190, 186, 186);
  }

  20%{
    transition: all .80s ;
    color: rgb(199, 193, 193);
  }

  40%{
    transition: all .80s ;
    color: rgb(185, 182, 182);

  }
  60% {
    transition: all .80s ;
    transform: translateY(40%);
    color: rgb(167, 164, 164);


  }


  60% {
    transition: all .80s ;
    transform: translateY(40%);
    color: rgb(167, 164, 164);


  }



  100%{
    transition: all .90s;
    transform: translateY(0%);
    color: rgb(167, 164, 164);


  }
}
 */





  img.smallP{
    max-width: 5rem;
    width: 100%;
  }
  .imgnormalP{
    width: 15rem;
    height: 15rem;
    }

.shadow-box-productos{
  
  /* color: rgba(0, 0, 0, 0.87); */
  box-shadow: 0px 3px 8px -2px rgb(0 0 0 / 6%), 0px 1px 2px 0px rgb(0 0 0 / 4%), 0px 1px 3px 0px rgb(0 0 0 / 2%);
  /* background-color: #e0e0e0; */
}

.product-image{
    /* width: 5rem; */
    /* height: 5rem; */
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    background: #ffffff;
    /* border: solid 1.9px #c5c3c3; */


    
}
.product-image img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  padding: 10px;
  padding-bottom: 20px;
}

.producto-en-oferta{
  background: red;
  color: #ffffff;
  display: inline-block;
  border-radius: 0 50% 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 8px;
  text-align: center;


  
}

.producto-en-oferta .porcentaje{
  color: #ffffff;
  font-size: 10px;
  font-weight: 800;
  padding: auto;
}

.producto-en-oferta .DCTO{
  color: #ffffff;
  font-size: 8px;
  padding: auto;

}

.producto-en-oferta_precio .p1{
  text-decoration: line-through;
  color: rgb(29, 230, 63);
  display: inline;
  flex-wrap: wrap;
  margin-right: 2px;
  
  
}
.producto-en-oferta_precio .p2{
  color: salmon;
  display: inline;
  flex-wrap: wrap;
  margin-right: 2px;



}


.addCart{
  position: absolute;
  right: 0;
  bottom: 0;
  /* background: rgb(230, 228, 228); */
  transition: all 700ms ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 7px;
  cursor: pointer;
  margin: 8px;


}
.addCart:hover{
  background: black;
  opacity: 1;
  color: white;
}
.addCart i{ 
color: #2c2c3d;
padding: 2px;
transition: all 400ms ease;
}

.addCart i:hover{ 
  color: white;

}

.product-card__info{
text-align: center;
/* margin-bottom: 10px; */
/* border: solid 1.9px #c5c3c3; */
 text-overflow: ellipsis;
overflow-x: auto;
/* white-space: nowrap; */
display: inline-block;
max-width: 100%; 
max-height: 25%;
font-weight: bold;
line-height: 19px;
height: 42px;
margin: 0 10px;
}
.product-card__info::-webkit-scrollbar{
  width: 0;
    
}
/* .product-card__info:hover{

} */
.product-card__info a{
  margin: 0 auto;
  padding: auto;
  font-size: 12px;

/* margin-bottom: 20px; */

/* line-height: 19px; */
text-align: left;
/* font-weight: bold; */
color: #555;


}


.product-card__info p{
  padding: auto;
}


/* img brand */

.sidebar_brand img {
  width: 100%;
  vertical-align: middle;
  border-style: none;

}

.sidebar_brand{
  margin-bottom: 2rem;
}

/* page-header */

.page-header{
height: 5rem;
/* margin-top: 2rem; */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-header__breadcrumb {
  padding-top: 16px;
}

.breadcrumb {
  background: 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: .25rem;
}

[dir=ltr] .breadcrumb-item {
  padding-left: 0;
  padding-right: 30px;
}

.breadcrumb-item {
  position: relative;
  margin-left: 2rem;
}

.breadcrumb-item a {
  color: inherit;
  -webkit-transition: color .15s;
  transition: color .15s;
}
.breadcrumb-item a {
  color: #c33;
}
.breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}



[dir=ltr] .breadcrumb-arrow {
    right: 11px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.breadcrumb-arrow {
    color: black;
    position: absolute;
    top: 0.1rem;
    left: -0.8rem;
    width:10px;
    height:17px;
}
.breadcrumb-arrow svg {
    display: block;
}
.breadcrumb-arrow svg {
    overflow: hidden;
    vertical-align: middle;
}

.breadcrumb-arrow svg {
 
    color: black;
    margin: 0rem 0.4rem;
    /* position: absolute;
    top: 0.7rem;
    right: 5rem; */
    width:10px;
    height:17px;
}

.page-header__title {
  padding-top: 6px;
}

/*=?=====RESPONSIVE=========*/
@media screen and (max-width:480px){


  .shop-layout__sidebar{
    display: none;
  }
  .products-row{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 20rem;
  }
  .products-list-item{
  margin-left: 2rem;
  }

  .product-card-body{
 
    opacity: 1;
    visibility: visible;
    margin-left: 3rem;

  
  }

  .producto-en-oferta_precio {
    font-size: 12px;
  }

}
@media screen and (min-width:480px) and (max-width:768px){


  .shop-layout__sidebar{
    display: none;
  }
  .products-row{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 40rem;
  }
  .products-list-item{
  margin-left: 2rem;
  }


}

@media screen and (min-width:768px) and (max-width:1024px){


  .shop-layout__sidebar{
    display: none;
  }
  .products-list-item{
    margin-left: 2rem;

  }
}

@media screen and (min-width:1024px) and (max-width:1366px){


  .shop-layout__sidebar{
    margin-left: 5rem;
  }

}

@media screen and (min-width:1367px){



  
}

