/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* .block {
    margin-bottom: 50px;
    margin-top: 30px;
} */

.block-sidebar__body{
    height: 100%;
    margin-bottom: 3rem;
}



.widget-filters {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    padding: 20px;
    height: 100%;
}

.widget__title {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.widget__title h4 {
    font-size: 24px;
    font-weight: 700;
}

.widget__title h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.widget-filters__item:first-child {
    border-top: 2px solid #cac5c5;
}
.widget-filters__item {
    padding: 8px 20px;
    /* margin: 0 -20px; */
    border-bottom: 2px solid #cac5c5;
    
}

[dir=ltr] .filter__title {
    text-align: left;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.filter__title {
    display: block;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    width: calc(100% + 20px);
    position: relative;
    color: inherit;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border-radius: 2px;
    margin: 0 -10px;
    -webkit-transition: background-color .2s, fill .2s;
    transition: background-color .2s, fill .2s;
    background: 0 0;
    fill: #ccc;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.filter__title button, select {
    text-transform: capitalize;
}
.filter__title button, input {
    overflow: visible;
}

.shop-filter__title button {
    border-radius: 0;
}

.filter__title button {
    appearance: auto;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.filter--opened .filter__body {
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    visibility: visible;
    height: auto;
    opacity: 1;
}
.filter__body {
    margin: 0 -20px;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: height .2s, opacity .2s, visibility 0s .2s;
    transition: height .2s, opacity .2s, visibility 0s .2s;
}

.filter__container {
    padding: 0px 0px 16px;
}

.filter--opened .filter__body {
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    visibility: visible;
    height: auto;
    opacity: 1;
}
.filter__body {
    margin: 0 -20px;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: height .2s, opacity .2s, visibility 0s .2s;
    transition: height .2s, opacity .2s, visibility 0s .2s;
}

.filter-categories__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
}


.widget-filters dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}


.widget-filters ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

.filter-categories__list a{
color: black;

}

.filter-categories__counter{
    margin-left: 1rem;
}


[dir=ltr] .filter-categories__item--parent {
    padding-left: 14px;
}

.filter-categories__item--parent {
    position: relative;
}
.filter-categories__item {
    padding: 6px 0;
    font-size: 17px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.filter-categories__item a{
    font-family: 'Bebas Neue', cursive;
        /* font-weight: 400; */

}

/* .widget-filters li {
    display: list-item;
    text-align: -webkit-match-parent;
} */

[dir=ltr] .filter-categories__arrow {
    left: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.filter-categories__arrow {
    fill: #ccc;
    margin: 0rem 0.4rem;
    /* position: absolute;
    top: 0.7rem;
    right: 5rem; */
    width:15px;
    height:17px;
}

.filter__arrow{
    color: #ccc;
    

}

.filter--opened .filter__arrow {
    -webkit-transform: rotateZ(
180deg
);
    transform: rotateZ(
180deg
);
}
[dir=ltr] .filter__arrow {
    right: 10px;
}
.filter__arrow {
    position: absolute;
    top: 11px;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
svg {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
*, ::after, ::before {
    box-sizing: border-box;
}


.filter-list__title a{
color: black;

}
.widget-filters svg {
    display: block;
}
.shop-layout__sidebar svg {
    overflow: hidden;
    vertical-align: middle;
}

.filter-list__title a{
    color: blue;
}

user agent stylesheet
.shop-layout__sidebar svg:not(:root) {
    overflow: hidden;
}



@media screen and (min-width:768px) and (max-width:1024px){
/* .block-sidebar{
    display: none;
} */
}